//Fonts
//************************
$roboto: 'Roboto', sans-serif;


//Width
//*************************
$max-width: 1100px;

//Breakpoints
//*************************
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
);

//Colors
//****************************
$white: #fff;
$black: #000;
$orange: #fbad27;
$waikawa: #63749f;
$gray: #ccc;
$red: #ff0000;

